<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Selenium E-Commerce Automation">
    <test name = "E-commerce Test">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="org.EcommerceSite.SeleniumTest">
                <methods>
                    <include name="testUserRegistration"/>
                    <include name="testAddProductToCart"/>
                    <include name="testSearchForCategoryAndProduct"/>
                    <include name="testAddProductToCart"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>